###
##
# * GITIGNORE
#

###
##
# ** COMMON BACKUP FILES
#
*.swp
*.bak
*.tmp
*.orig
*~

###
##
# ** VARIOUS IDES
#
.project
.idea/
*.tmproj
.vscode/

###
##
# ** FOLDERS
#
ARCHIVE

###
##
# ** FILES
#
Taskfile.yml
secrets.yml
